@import "tailwindcss";

:root {
  --background: #252525;
  --foreground: #e8e8c6;

  --font-body: var(--font-raleway);
  --font-heading: var(--font-press-start);
}

html,
body {
  height: 100%;
  width: 100%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #e8e8c6;
    --foreground: #252525;
  }
} */

.body-font {
  font-family: var(--font-body), sans-serif;
}

.heading-font {
  font-family: var(--font-heading), sans-serif;
}
